<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="ItemUIDialog">
		<title>File</title>
		<centered>1</centered>
		<size>600,300</size>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxMINIMIZE_BOX</style>
		<handler function="OnInit" entry="EVT_INIT_DIALOG" />
		<object class="wxBoxSizer" variable="BoxSizerMain" member="yes">
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizerFileFolderMain" member="yes">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizerFileOpen" member="no">
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON3" variable="btnNewFile" member="yes">
									<label>Start a new File</label>
									<handler function="OnbtnNewFileClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON4" variable="btnOpenExisting" member="yes">
									<label>Open an existing file</label>
									<handler function="OnbtnOpenExistingClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON6" variable="Button1" member="yes">
									<label>Continue</label>
									<handler function="OnButton1Click" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizerSave" member="yes">
									<orient>wxVERTICAL</orient>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON1" variable="btnSave" member="yes">
											<label>Save</label>
											<handler function="OnbtnSaveClick" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON2" variable="btnSaveAs" member="yes">
											<label>Save As</label>
											<handler function="OnbtnSaveAsClick" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON5" variable="ButtonDesign" member="yes">
											<label>Design</label>
											<handler function="OnButtonDesignClick" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizerFileDisplay" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT1" variable="lblSelectLocation" member="yes">
									<label>Location and Name of the file</label>
									<size>184,20</size>
									<font>
										<size>11</size>
										<style>normal</style>
										<weight>bold</weight>
										<underlined>0</underlined>
										<family>swiss</family>
									</font>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizerFolder" member="yes">
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT2" variable="lblFolder" member="yes">
											<label>Folder</label>
											<maxsize>60,25</maxsize>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="txtFolder" member="yes" />
										<flag>wxALL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizerFile" member="yes">
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT3" variable="lblFileName" member="yes">
											<label>File Name</label>
											<maxsize>60,25</maxsize>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="txtFileName" member="yes" />
										<flag>wxALL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxFileDialog" variable="FileDialog1" member="yes">
			<message>Select file</message>
			<wildcard>*.bin</wildcard>
		</object>
		<object class="wxDirDialog" variable="DirDialog1" member="yes">
			<message>Select directory</message>
		</object>
		<object class="wxFileDialog" variable="saveAsFileDialog" member="yes">
			<message>Save As</message>
			<wildcard>*.bin</wildcard>
			<style>wxFD_SAVE|wxFD_OVERWRITE_PROMPT</style>
		</object>
	</object>
</wxsmith>
